@model MvcStok.Models.Entity.TBLKategori
@{
    ViewBag.Title = "CreateKategori";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <input type="text" class="form-control" name="Ad" placeholder="Kategori Adını Giriniz..." />
    <button class="btn btn-info"> Kaydet   </button>

</form>


